@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cards-small-device::-webkit-scrollbar {
        display: none !important;
        height: 0;
        width: 0;
        background-color: transparent;
    }
}